
body {
  background-image: url("../src/photo/try.gif");
  background-size: contain;
  font-size: 20px;
  padding: 25px;
  margin: 0;
  overflow: auto;
}
body text{
  font-size: 0px;
}

#container li {
  margin-bottom: 10px;
}